<!-- SIDEBAR -->
<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="logo-circle">IoT</div>
    <nav class="side-nav">
      <a href="/pages/home/index.html" class="nav-item" data-page="home">
        <div class="icon">
          <!-- Home -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
               fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 .5l-7 7V15a1 1 0 001 1h4a1 1 0 001-1V10h2v5a1 1 0 001 1h4a1 1 
                     0 001-1V7.5l-7-7z"/>
          </svg>
        </div>
        Home
      </a>
      <a href="/pages/sensor/index.html" class="nav-item" data-page="sensor">
        <div class="icon">
          <!-- Sensor -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
               fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 13a1 1 0 100 2 1 1 0 000-2zm0-4a3 3 0 110 6 3 3 0 010-6zm0-3a6 6 0 00-6 6h1a5 5 0 1110 0h1a6 6 0 00-6-6z"/>
          </svg>
        </div>
        Data Sensor
      </a>
      <a href="/pages/rain/index.html" class="nav-item" data-page="rain">
        <div class="icon">🌧️</div>
        Biểu đồ Lượng Mưa
      </a>
      <a href="/pages/activity/index.html" class="nav-item" data-page="activity">
        <div class="icon">
          <!-- Activity -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
               fill="currentColor" viewBox="0 0 16 16">
            <path d="M13.5 1.5a1.5 1.5 0 11-3.001.001A1.5 1.5 0 0113.5 1.5zM6.905 3.818L5.5 7H3l2.845-5.69a1 1 0 011.573-.26l2.07 1.863A3 3 0 0111 6v2.5l1.5 1.5-1 1-2-2V6a1 1 0 00-1.658-.753L7.2 6.2a1 1 0 00-.295.619L6.5 11H5l.428-4.282a2 2 0 01.586-1.226l.891-.674z"/>
          </svg>
        </div>
        Data Activity
      </a>
      <a href="/pages/profile/index.html" class="nav-item" data-page="profile">
        <div class="icon">👤</div>
        Profile
      </a>
    </nav>
    
  </div>
</aside>
